.landing {

}

.landing .headline {
  display: inline-block;
}

.landing .grid {
  display: flex;
  flex-direction: column;
  min-height: 600px;
}

@media (min-width: 40em) {
  .landing .grid {
    flex-direction: row;
  }
}

.landing .gridItem {
  flex: 1 0 40%;
  margin: 0.5rem 2rem;
}