.container {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 4px;
  padding: 0.65em 1.24em;
  line-height: 1;
  font-size: 1rem;
}

.container[href] {
  text-decoration: none;
}

.container:focus {
  outline: 3px solid var(--color-primary-200);
}

.container:focus:not(:focus-visible) {
  outline: none;
}

.primary {
  background: var(--color-primary-100);
  color: var(--color-white);
}

.secondary {
  background: var(--color-secondary-100);
  color: var(--color-gray-300);
}

.noBorder {
  border-radius: 0;
}