:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray-100: #e8e8e8;
  --color-gray-200: #d2d2d2;
  --color-gray-300: #b5b5b5;
  --color-gray-400: #949494;
  --color-gray-500: #828282;
  --color-gray-600: #6a6a6a;
  --color-gray-700: #4b4b4b;
  --color-gray-800: #3c3c3c;
  --color-gray-900: #2b2b2b;
  --color-primary-100: #ebb8b8;
  --color-primary-200: #eb9797;
  --color-primary-300: #e67474;
  --color-primary-400: #ec4a4a;
  --color-primary-500: #e71f1f;
  --color-primary-600: #b61212;
  --color-primary-700: #820c0c;
  --color-primary-800: #5b0808;
  --color-primary-900: #340404;
}

body {
  margin: 0;
  background: var(--color-black);
  color: var(--color-white);
}

#root {
  min-height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: inherit;
}

.randomCounter {
  position: relative;
  font-size: 50vh;
  font-weight: 100;
  letter-spacing: -0.02em;
  color: var(--color-primary-600);
  animation: blink 0.2s ease infinite alternate;
}

@keyframes blink {
  0% { opacity: 0; }
  25% { opacity: 0.7; }
  50% { opacity: 0.3; }
  75% { opacity: 0.5; }
  100% { opacity: 1; }
}

.retryButton {
  cursor: pointer;
  position: fixed;
  z-index: 100;
  left: 50%;
  bottom: 10vh;
  transform: translateX(-50%);
  border: 0;
  border-radius: 3px;
  padding: 0.85rem 2.5rem;
  background: var(--color-gray-100);
  color: var(--color-gray-800);
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.15s ease-out;
}

.retryButton:hover {
  background: var(--color-white);
  color: var(--color-primary-700);
  transform: translate(-50%, -5%);
}

.retryButton:focus {
  outline: 5px solid var(--color-primary-500);
}

.retryButton:disabled {
  cursor: not-allowed;
  background: var(--color-gray-900);
  color: var(--color-gray-600);
}